# Testreport for group-into-intervals

The unit tests for this project are found in the project https://github.com/mariamair/test-group-into-intervals.

## Summary of latest test run
[Summary of test results](https://github.com/mariamair/test-group-into-intervals/blob/main/reports/summary.md)

## Detailed view of latest test run
[Test results in detail](https://github.com/mariamair/test-group-into-intervals/blob/main/reports/report.md)
